<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
 <session-factory>
  <!-- 1- Database connection settings -->
  <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sat</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">admin</property> 
 
 
  <!-- 2- Hibernate settings -->
  <!-- SQL dialect -->
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
  <!-- Drop and re-create the database schema on startup -->
  <!--  <property name="hbm2ddl.auto">create</property>-->
 <property name = "hibernate.show_sql">true</property> 
	<mapping class = "dbaccess.Department"/>

 </session-factory>
</hibernate-configuration>